/* totem yellow: #ffd129; */
/* totem green: #40b073; */
/* totem blue: #0d91bf; */
/* totem darkblue: #2e4d73; */

:root > * {
  /* Primary color shades */
  --md-primary-fg-color: #40b073;

  /* Accent color shades */
  --md-accent-fg-color: #ffd129;

  /* Footer */
  --md-footer-bg-color: #0593bd;
}

h4 {
  display: table;
  margin: 6px 0;
  font-size: 90%;
  line-height: normal;
  background: #e7f2fa;
  color: #2980B9;
  border-top: solid 3px #6ab0de;
  padding: 6px;
  position: relative;
}

h4:target {
  scroll-margin-top: 70px !important;
}

@media screen and (max-width: 543px) {
  ul.md-tabs__list > li.md-tabs__item.item-secondary {
      display: none;
  }
}

@media screen and (max-width: 377px) {
  ul.md-tabs__list > li.md-tabs__item.item-primary {
      display: none;
  }
}