/* totem yellow: #ffd129; */
/* totem green: #40b073; */
/* totem blue: #0d91bf; */
/* totem darkblue: #2e4d73; */

:root > * {
  /* Primary color shades */
  --md-primary-fg-color: #40b073;

  /* Accent color shades */
  --md-accent-fg-color: #ffd129;

  /* Footer */
  --md-footer-bg-color: #0593bd;

  /* Mark */
  --md-typeset-mark-color: #42959a26;
}

h4:not(.apidec) {
  display: table;
  margin: 6px 0;
  font-size: 90%;
  line-height: normal;
  background: #e7f2fa;
  color: #2980B9;
  border-top: solid 3px #6ab0de;
  padding: 6px;
  position: relative;
}

h4:target:not(.apidec) {
  scroll-margin-top: 70px !important;
}

h4.apidec {
  font-weight: 400;
  line-height: 1em;
}

h4.apidec .headerlink {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

h4.apidec .object {
  color:#00979c;
}
h4.apidec .group {
  color:#00979c;
}
h4.apidec .function {
  color:#d35400;
}

@media screen and (max-width: 543px) {
  ul.md-tabs__list > li.md-tabs__item.item-secondary {
      display: none;
  }
}

@media screen and (max-width: 377px) {
  ul.md-tabs__list > li.md-tabs__item.item-primary {
      display: none;
  }
}

.grid-card-column {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 0 10px;
}

.grid-card-column-3 {
  box-sizing: border-box;
  float: left;
  width: 33%;
  padding: 0 10px;
}

.grid-card-row {margin: 0 -5px;}

.grid-card-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .grid-card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.grid-card {
  color: #444;
  padding: 1px;
  border: 1px solid #ddd;
  border-color: #ddd;
}

.grid-card img {
  box-shadow: 0px 6px 30px -10px rgb(0, 0, 0, 0.2);
}

.grid-card h2 {
  font-weight: 400;
  color: #222;
  width: 100%;
  font-size: 1.4em;
  margin: 10px;
}

.grid-card p {
  color: #575757 !important;
  fill: currentColor !important;
  font-size: .7rem;
  margin: 10px;
  line-height: 1.6em;
  word-wrap: break-word;
  word-break: break-word;
}

.grid-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
